.App {
  text-align: left;
}
.App-header {
  background-color: black;
  min-height: 100vh;
  padding: 100px;
  padding-left: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.title {
  color: bisque;
}
.emp_label{
  margin-right: 10px;
}
.loc_label{
  margin-right: 10px;
}
.time_label{
  margin-right: 10px;
}
.latitude{
  margin-right: 20px;
}
.submit{
  background-color: blue;
}